# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
/node_modules/

# Bower dependency directory (https://bower.io/)
bower_components

# Assets
/src/assets

# Styles
/src/style

# Build/Dist
/dist

# Webpack config
webpack.dev.config.*
